<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Basket</title>
    </head>
    <body>
        <my-header></my-header>
        <main>
            <div class="title">
                <div>
                    <h1>Basket</h1>
                    <p>3 items</p>
                </div>
            </div>
            <hr width="90%">
            <div class="basket">
                <div class="items"></div>
                <div class="summary">
                    <strong>Order summary</strong>
                    <div><p>Subtotal</p><p>$27.44</p></div>
                    <div><p>Shipping</p><p>$3.99</p></div>
                    <div><p>Tax</p><p>$2.00</p></div>
                    <div><p><strong>Total</strong></p><p><strong>$33.43</strong></p></div>
                    <a href="#" class="active"><p>Continue to payment</p><p>&rarr;</p></a>
                </div>
            </div>
        </main>
        <my-footer></my-footer>
    </body>
    <template id="item">
        <div class="item">
            <img class="vegetable" src="/static/images/products/product1.png" alt="vegetable">
            <div class="item-description">
                <div class="name">
                    <p>Heirloom tomato</p>
                    <p>$5.99</p>
                </div>
                <p class="price">$5.99 / lb</p>
                <div class="weight-lb">
                    <input type="text" placeholder="1 lb">
                    <img src="/static/images/pen.png" alt="">
                </div>
            </div>
        </div>
    </template>
    <script src="/static/HeaderFooter.js"></script>
    <script src="/static/basket.js"></script>
</html>