<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Store</title>
    </head>
    <body>
        <header>
            <a class="logo" href="/templates/home.html">World Peas</a>
            <nav class="navigation">
                <ul>
                    <li class="li-shop"><a href="/templates/shop.html">Shop</a></li>
                    <li class="li-who"><a href="/templates/home.html">Who we are</a></li>
                    <li class="li-prof"><a href="/templates/sign-in.html">My profile</a></li>
                    <li class="li-basket"><a href="/templates/basket.html">Basket (3)</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="slogan">
                <p>We're <i>farmers</i>, <i>purveyors</i>, and <i>eaters</i> of organically grown food.</p>
                <a href="/templates/shop.html">Browse our shop</a>
            </div>
            <div class="vegetables">
                <img src="/static/images/vegetables1.png" alt="vegetables">
                <div>
                    <img src="/static/images/vegetables2.png" alt="vegetables">
                    <p><strong>Central California</strong> — The person who grew these was located in Central California and, er, hopefully very well-compensated.</p>
                </div>
            </div>
            <div class="description">
                <p class="p1"><strong>WHAT WE BELIEVE</strong></p>
                <p class="p2">We believe in produce. Tasty produce. Produce like:<br><br>
                    Apples. Oranges. Limes. Lemons. Guavas. Carrots. Cucumbers. 
                    Jicamas. Cauliflowers. Brussels sprouts. Shallots. Japanese 
                    eggplants. Asparagus. Artichokes—Jerusalem artichokes, too. 
                    Radishes. Broccoli. Baby broccoli. Broccolini. Bok choy. 
                    Scallions. Ginger. Cherries. Raspberries. Cilantro. Parsley. Dill. <br><br>
                    What are we forgetting?<br><br>
                    Oh! Onions. Yams. Avocados. Lettuce. Arugula (to some, “rocket”). 
                    Persian cucumbers, in addition to aforementioned “normal” cucumbers. 
                    Artichokes. Zucchinis. Pumpkins. Squash (what some cultures call pumpkins). 
                    Sweet potatoes and potato-potatoes. Jackfruit. Monk fruit. Fruit of the Loom. 
                    Fruits of our labor (this website). Sorrel. Pineapple. Mango. Gooseberries. 
                    Blackberries. Tomatoes. Heirloom tomatoes. Beets. Chives. Corn. Endive. 
                    Escarole, which, we swear, we’re vendors of organic produce, but if you 
                    asked us to describe what escaroles are...</p>
            </div>
        </main>
        <footer>
            <div class="copyright">
                <p class="logo">World Peas</p>
                <p>Copyright © 2024 World Peas, Inc.</p>
            </div>
            <div class="contacts">
                <p>CONTACT US</p>
                <div class="contacts-imgs">
                    <img src="/static/images/contacts/Twitter.png" alt="">
                    <img src="/static/images/contacts/Instagram.png" alt="">
                    <img src="/static/images/contacts/YouTube.png" alt="">
                    <img src="/static/images/contacts/LinkedIn.png" alt="">
                </div>
            </div>
            <div class="subscribe">
                <p>Subscribe for freshest news</p>
                <form action="">
                    <input type="text" placeholder="you@example.com">
                    <button class="active">Subscribe</button>
                </form>
            </div>
        </footer>
    </body>
    <script src="/static/script.js"></script>
</html>
