<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Document</title>
    </head>
    <body>
        <my-header></my-header>
        <main>
            <div class="title">
                <div>
                    <h1>Your profile</h1>
                </div>
            </div>
            <hr width="90%">
            <div class="profile">
                <div class="info">
                    <div class="nickname-info">
                        <p>Nickname:</p>
                        <input type="text" placeholder="Value">
                    </div>
                    <div class="email-info">
                        <p>Email:</p>
                        <input type="text" placeholder="Value">
                    </div>
                    <div class="password-info">
                        <p>Password:</p>
                        <input type="text" placeholder="Value">
                    </div>
                </div>
                <div class="profile-but">
                    <button class="active">Save changes</button>
                    <button class="active">Sign out</button>
                </div>
            </div>
        </main>
        <my-footer></my-footer>
    </body>
    <script src="/static/HeaderFooter.js"></script>
</html>