<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Document</title>
    </head>
    <body>
        <header>
            <a class="logo" href="#">World Peas</a>
            <nav class="navigation">
                <ul>
                    <li class="li-shop"><a href="#">Shop</a></li>
                    <li class="li-who"><a href="#">Who we are</a></li>
                    <li class="li-prof"><a href="#">My profile</a></li>
                    <li class="li-basket"><a href="#">Basket (3)</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="Produce">
                <div class="date">
                    <h1>Produce</h1>
                    <p><strong>Fresh</strong>- August 21, 2023</p>
                </div>
                <div class="sort">
                    <button>Default</button>
                    <button>A-Z</button>
                    <button>List view</button>
                </div>
                <hr>
            </div>
            <div class="shop"></div>
            <div class="pagination">
                <a href="#">&larr; Previous</a>
                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">Next &rarr;</a>
              </div>
        </main>
        <footer>
            <div class="copyright">
                <p class="logo">World Peas</p>
                <p>Copyright © 2024 World Peas, Inc.</p>
            </div>
            <div class="contacts">
                <p>CONTACT US</p>
                <div class="contacts-imgs">
                    <img src="/static/images/Twitter.png" alt="">
                    <img src="/static/images/Instagram.png" alt="">
                    <img src="/static/images/YouTube.png" alt="">
                    <img src="/static/images/LinkedIn.png" alt="">
                </div>
            </div>
            <div class="subscribe">
                <p>Subscribe for freshest news</p>
                <form action="">
                    <input type="text" placeholder="you@example.com">
                    <button>Subscribe</button>
                </form>
            </div>
        </footer>
    </body>
    <script src="/static/script.js"></script>
</html>