<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Document</title>
    </head>
    <body>
        <my-header></my-header>
        <main>
            <div class="title">
                <div>
                    <h1>Produce</h1>
                    <p><strong>Fresh</strong>  —  August 21, 2023</p>
                </div>
                <div class="sort">
                    <button onclick="change_order(0)" class="active" id="b0">Default</button>
                    <button onclick="change_order(1)" id="b1">A-Z</button>
                    <button onclick="change_order(2)" id="b2">Z-A</button>
                </div>
            </div>
            <hr width="90%">
            <div class="shop"></div>
            <div class="pagination">
                <a href="#">&larr; Previous</a>
                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">Next &rarr;</a>
              </div>
        </main>
        <my-footer></my-footer>
    </body>
    <template id="product">
        <div class="product">
            <div class="product-img"><img src="/static/images/products/product" alt="tomato"></div>
            <p class="product-name">Heirloom tomato</p>
            <p class="product-price">$5.99 / lb</p>
            <p class="product-desc">Grown in San Juan Capistrano, CA</p>
            <div class="add-but"><button class="active">Add to basket</button></div>
        </div>
    </template>
    <script src="/static/scripts/HeaderFooter.js"></script>
    <script src="/static/scripts/shop.js"></script>
</html>