<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Document</title>
    </head>
    <body>
        <header>
            <a class="logo" href="/templates/home.html">World Peas</a>
            <nav class="navigation">
                <ul>
                    <li class="li-shop"><a href="/templates/shop.html">Shop</a></li>
                    <li class="li-who"><a href="/templates/home.html">Who we are</a></li>
                    <li class="li-prof"><a href="/templates/sign-in.html">My profile</a></li>
                    <li class="li-basket"><a href="/templates/basket.html">Basket (3)</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="title">
                <div>
                    <h1>Produce</h1>
                    <p><strong>Fresh</strong>  —  August 21, 2023</p>
                </div>
                <div class="sort">
                    <button class="active">Default</button>
                    <button>A-Z</button>
                    <button>List view</button>
                </div>
            </div>
            <hr width="90%">
            <div class="shop"></div>
            <div class="pagination">
                <a href="#">&larr; Previous</a>
                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">Next &rarr;</a>
              </div>
        </main>
        <footer>
            <div class="copyright">
                <p class="logo">World Peas</p>
                <p>Copyright © 2024 World Peas, Inc.</p>
            </div>
            <div class="contacts">
                <p>CONTACT US</p>
                <div class="contacts-imgs">
                    <img src="/static/images/contacts/Twitter.png" alt="">
                    <img src="/static/images/contacts/Instagram.png" alt="">
                    <img src="/static/images/contacts/YouTube.png" alt="">
                    <img src="/static/images/contacts/LinkedIn.png" alt="">
                </div>
            </div>
            <div class="subscribe">
                <p>Subscribe for freshest news</p>
                <form action="">
                    <input type="text" placeholder="you@example.com">
                    <button class="active">Subscribe</button>
                </form>
            </div>
        </footer>
    </body>
    <template id="product">
        <div class="product">
            <div><img src="/static/images/products/product" alt="tomato"></div>
            <p class="product-name">Heirloom tomato</p>
            <p class="product-price">$5.99 / lb</p>
            <p class="product-desc">Grown in San Juan Capistrano, CA</p>
        </div>
    </template>
    <script src="/static/script.js"></script>
</html>