<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Document</title>
    </head>
    <body>
        <header>
            <a class="logo" href="/templates/home.html">World Peas</a>
            <nav class="navigation">
                <ul>
                    <li class="li-shop"><a href="/templates/shop.html">Shop</a></li>
                    <li class="li-who"><a href="/templates/home.html">Who we are</a></li>
                    <li class="li-prof"><a href="/templates/sign-in.html">My profile</a></li>
                    <li class="li-basket"><a href="/templates/basket.html">Basket (3)</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <form class="sign-in">
                <h1>Sign in</h1>
                <p>Username</p>
                <input type="text" placeholder="name">
                <p>Email</p>
                <input type="email" name="" id="" placeholder="you@gmail.com">
                <p>Password</p>
                <input type="password" name="" placeholder="********">
                <p>Confirm password</p>
                <input type="password" name="" placeholder="********">
                <button class="active">Sign in</button>
            </form>
        </main>
        <footer>
            <div class="copyright">
                <p class="logo">World Peas</p>
                <p>Copyright © 2024 World Peas, Inc.</p>
            </div>
            <div class="contacts">
                <p>CONTACT US</p>
                <div class="contacts-imgs">
                    <img src="/static/images/Twitter.png" alt="">
                    <img src="/static/images/Instagram.png" alt="">
                    <img src="/static/images/YouTube.png" alt="">
                    <img src="/static/images/LinkedIn.png" alt="">
                </div>
            </div>
            <div class="subscribe">
                <p>Subscribe for freshest news</p>
                <form action="">
                    <input type="text" placeholder="you@example.com">
                    <button class="active">Subscribe</button>
                </form>
            </div>
        </footer>
    </body>
    <script src="/static/script.js"></script>
</html>