<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Document</title>
    </head>
    <body>
        <my-header></my-header>
        <main>
            <form class="sign-in">
                <h1>Sign in</h1>
                <p>Username</p>
                <input type="text" name="name" placeholder="name">
                <p>Email</p>
                <input type="email" name="email" placeholder="you@gmail.com">
                <p>Password</p>
                <input type="password" name="password1" placeholder="********">
                <p>Confirm password</p>
                <input type="password" name="password2" placeholder="********">
                <button type="submit" class="active">Sign in</button>
            </form>
        </main>
        <my-footer></my-footer>
    </body>
    <script src="/static/HeaderFooter.js"></script>
    <script src="/static/sign-in.js"></script>
</html>